{% extends "themes/wrapper.html" %}
{%load static%}
{% block content %}
<div class="container__content__theme row mt-2">
    <h4 class="container__content__theme__name">{{ theme_object.name }}</h4>
</div>
<div class="container__content__main row">
    <div class="container__content__main__left col-md-3">
        <div class="container__content__main__left__theme">
            Тема
        </div>
        <div class="container__content__main__left__lessons">
            <ul class="container__content__main__left__lessons__ul">
                {% for theme in theme_objects %}
                  <li class="container__content__main__left__lessons__ul__li">
                    <a href="{% url 'themes:theme' theme.pk %}">{{ theme.name }}</a> 
                  </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container__content__main__center col-md-2">
        <div class="container__content__main__center__buttons">
            <a class="container__content__main__center__buttons__button text-center">
                <img class="container__content__main__center__buttons__button__img"
                    src="{% static 'themes/icons/avatar.svg' %}" alt="photo">
                Теория
            </a>
            <a class="container__content__main__center__buttons__button text-center">
                <img class="container__content__main__center__buttons__button__img"
                    src="{% static 'themes/icons/avatar.svg' %}" alt="photo">
                Видеообъяснение
            </a>
            <a class="container__content__main__center__buttons__button text-center">
                <img class="container__content__main__center__buttons__button__img"
                    src="{% static 'themes/icons/avatar.svg' %}" alt="photo">
                Установите соответствия
            </a>
            <a class="container__content__main__center__buttons__button text-center">
                <img class="container__content__main__center__buttons__button__img"
                    src="{% static 'themes/icons/avatar.svg' %}" alt="photo">
                Вставьте пропущенное слово
            </a>
            <a class="container__content__main__center__buttons__button text-center">
                <img class="container__content__main__center__buttons__button__img"
                    src="{% static 'themes/icons/avatar.svg' %}" alt="photo">
                Расположите в правильном порядке
            </a>
            <a class="container__content__main__center__buttons__button text-center">
                <img class="container__content__main__center__buttons__button__img"
                    src="{% static 'themes/icons/avatar.svg' %}" alt="photo">
                Выберите правильный ответ
            </a>
        </div>
    </div>
    <div class="container__content__main__right col-md-6">
        <div class="container__content__main__right__option">
            <p class="container__content__main__right__option__name">{{ theme.name }}</p>
        </div>
        <div class="container__content__main__right__interactive">
            {{ theme_object.matches|safe }}
        </div>
    </div>
</div>
{% endblock %}