{% extends "themes/wrapper.html" %}

{% block content %}
<div class="container__content__main row">
  <div class="container__content__main__left col-md-3">
    <div class="container__content__main__left__theme">
      Тема
    </div>
    <div class="container__content__main__left__lessons">
      <ul class="container__content__main__left__lessons__ul">
        {% for theme in theme_objects %}
          <li class="container__content__main__left__lessons__ul__li">
            <a href="{% url 'themes:theme' theme.pk %}">{{ theme.name }}</a> 
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <!-- <div class="container__content__main__center col-md-2">
    <div class="container__content__main__center__buttons">
      <a class="container__content__main__center__buttons__button text-center">
        <img class="container__content__main__center__buttons__button__img" src="static/css/themes/icons/avatar.svg"
          alt="photo">
        Теория
      </a>
      <button class="container__content__main__center__buttons__button text-center">
        <img class="container__content__main__center__buttons__button__img" src="static/css/themes/icons/avatar.svg"
          alt="photo">
        Видеообъяснение
      </button>
      <button class="container__content__main__center__buttons__button text-center">
        <img class="container__content__main__center__buttons__button__img" src="static/css/themes/icons/avatar.svg"
          alt="photo">
        Установите соответствия
      </button>
      <button class="container__content__main__center__buttons__button text-center">
        <img class="container__content__main__center__buttons__button__img" src="static/css/themes/icons/avatar.svg"
          alt="photo">
        Вставьте пропущенное слово
      </button>
      <button class="container__content__main__center__buttons__button text-center">
        <img class="container__content__main__center__buttons__button__img" src="static/css/themes/icons/avatar.svg"
          alt="photo">
        Расположите в правильном порядке
      </button>
      <button class="container__content__main__center__buttons__button text-center">
        <img class="container__content__main__center__buttons__button__img" src="static/css/themes/icons/avatar.svg"
          alt="photo">
        Выберите правильный ответ
      </button>
    </div>
  </div> -->
  <!-- <div class="container__content__main__right col-md-6">
    <div class="container__content__main__right__option">
      <span class="container__content__main__right__option__name">Установите соответсвие</span>
    </div>
    <div class="container__content__main__right__interactive">
      <iframe src="https://learningapps.org/watch?app=1528914" style="border:1px solid #000;width:100%;min-height:60vh;"
        allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    </div>
  </div> -->
</div>
{% endblock %}


<!-- <div class="main-wrapper" style="background-color: #D6D0F0;">
    <div class="top">
      <div class="top__content">
        <div class="top__content__title">
          <h2 class="top__content__title__h2">Inclusive Edu</h2>
        </div>
        <div class="top__content__nav">
          <a class="top__content__nav__reference">
            Главная
          </a>
          <a class="top__content__nav__reference">
            О нас
          </a>
          <a class="top__content__nav__reference">
            Контакты
          </a>
          <a class="top__content__nav__reference">
            Глоссарий
          </a>
        </div>
        <div class="top__content__block">
          <input class="top__content__block__search">
          <button 
            class="top__content__block__profile"
            type="button"
            alt="avatar"
          >
            <img 
              class="top__content__block__profile__avatar"
              src="static/css/themes/icons/avatar.svg"
              alt="avatar"
            >
          </button>
        </div>
      </div>
    </div>
    <div class="mt-5 container-fluid h-100">
        <div class="container__content__subject row">
          <h3 class="container__content__subject__name">Информатика 7</h3>
        </div>
        <div class="container__content__theme row mb-5">
          <h4 class="container__content__theme__name">Единицы измерения информации</h4>
        </div>
        <div class="container__content__main row">
          <div class="container__content__main__left col-md-3">
            <div class="container__content__main__left__theme">
              Тема
            </div>
            <div class="container__content__main__left__lessons">
              <ul class="container__content__main__left__lessons__ul">
                <li class="container__content__main__left__lessons__ul__li">
                  Единицы измерения информации
                </li>
                <li class="container__content__main__left__lessons__ul__li">
                  Компьютерная память
                </li>
                <li class="container__content__main__left__lessons__ul__li">
                  Размеры файлов
                </li>
                <li class="container__content__main__left__lessons__ul__li">
                  Компьютерные сети и их классификация
                </li>
                <li class="container__content__main__left__lessons__ul__li">
                  Антивирусная безопасность
                </li>
                <li class="container__content__main__left__lessons__ul__li">
                  Таблицы в текстовом процессоре
                </li>
                <li class="container__content__main__left__lessons__ul__li">
                  Форматирование элементов электронных таблиц
                </li>
                <li class="container__content__main__left__lessons__ul__li">
                  Форматы данных
                </li>
                <li class="container__content__main__left__lessons__ul__li">
                  Условное форматирование
                </li>
                <li class="container__content__main__left__lessons__ul__li">
                  Графическое представление табличных данных
                </li>
                <li class="container__content__main__left__lessons__ul__li">
                  Моделирование процессов в электронных таблицах
                </li>
                <li class="container__content__main__left__lessons__ul__li">
                  Языки программирования
                </li>
                <li class="container__content__main__left__lessons__ul__li">
                  Системы программирования
                </li>
                <li class="container__content__main__left__lessons__ul__li">
                  Типы данных
                </li>
              </ul>
            </div>
          </div>
          <div class="container__content__main__center col-md-2">
            <div class="container__content__main__center__buttons">
              <button class="container__content__main__center__buttons__button text-center">
                <img 
                  class="container__content__main__center__buttons__button__img"
                  src="static/css/themes/icons/avatar.svg"
                  alt="photo"
                >
                Теория
              </button>
              <button class="container__content__main__center__buttons__button text-center">
                <img 
                  class="container__content__main__center__buttons__button__img"
                  src="static/css/themes/icons/avatar.svg"
                  alt="photo"
                >
                Видеообъяснение
              </button>
              <button class="container__content__main__center__buttons__button text-center">
                <img 
                  class="container__content__main__center__buttons__button__img"
                  src="static/css/themes/icons/avatar.svg"
                  alt="photo"
                >
                Установите соответствия
              </button>
              <button class="container__content__main__center__buttons__button text-center">
                <img 
                  class="container__content__main__center__buttons__button__img"
                  src="static/css/themes/icons/avatar.svg"
                  alt="photo"
                >
                Вставьте пропущенное слово
              </button>
              <button class="container__content__main__center__buttons__button text-center">
                <img 
                  class="container__content__main__center__buttons__button__img"
                  src="static/css/themes/icons/avatar.svg"
                  alt="photo"
                >
                Расположите в правильном порядке
              </button>
              <button class="container__content__main__center__buttons__button text-center">
                <img
                  class="container__content__main__center__buttons__button__img"
                  src="static/css/themes/icons/avatar.svg"
                  alt="photo"
                >
                Выберите правильный ответ
              </button>
            </div>
          </div>
          <div class="container__content__main__right col-md-6">
            <div class="container__content__main__right__option">
              <p class="container__content__main__right__option__name">Установите соответсвие</p>
              
            </div>
            <div class="container__content__main__right__interactive">
              <iframe src="https://learningapps.org/watch?app=1528914" style="border:1px solid #000;width:100%;min-height:60vh;" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
            </div>
          </div>
        </div>
    </div>
  </div> -->