{% extends "themes/wrapper.html" %}

{% block content %}
<div class="container__content__main row">
  <div class="container__content__main__left col-md-3">
    <div class="container__content__main__left__theme">
      Тема
    </div>
    <div class="container__content__main__left__lessons">
      <ul class="container__content__main__left__lessons__ul">
        {% for theme in theme_objects %}
          <li class="container__content__main__left__lessons__ul__li">
            <a 
              class="container__content__main__left__lessons__ul__li_ref"
              href="{% url 'themes:theme' theme.pk %}"
            >
                {{ theme.name }}
            </a> 
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}