body {
  margin: 0;
  background: #D6D0F0;
  font-family: Segoe UI, sans-serif;
}

.main-wrapper {
  min-height: 100vh;
}

.flex-fill {
  flex: 1 1 auto;
}

.top {
  display: flex;
  justify-content: center;
}

.top__content {
  display: flex;
  width: 1200px;
  min-width: auto;
  justify-content: space-between;
}

.top__content__title {
  display: flex;
}

.top__content__title:hover, .top__content__title:active {
  text-decoration: none;
  outline: 1px dashed #262626;
}

.top__content__title__h2 {
  color: #4D6084;
  cursor: pointer;
  margin: 0;
}

.top__content__nav {
  display: flex;
  color: #DC3B9F;
  font-weight: 700;
}

.top__content__nav__reference {
  display: flex;
  text-decoration: none;
  align-items: center;
  padding: 0 15px;
  cursor: pointer;
}

.top__content__nav__reference:hover, .top__content__nav__reference:active {
  outline: 1px dashed #262626;
}

.top__content__block {
  display: flex;
  align-items: center;
}

.top__content__block__search {
  align-items: center;
}

.top__content__block__profile {
  display: flex;
  border-style: none;
  outline: none;
  background: transparent;
}

.top__content__block__profile:focus {
  outline: none;
}

.top__content__block__profile__avatar {
  display: flex;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.top__content__block__profile__avatar:active {
  outline: 1px dashed #262626;
}

.container__content__subject {
  background: #FFF;
}

.container__content__subject__name {
  color: #4D6084;
  margin-left: 80px;
}

.container__content__theme {
  display: flex;
  justify-content: center;
  background: #FFF;
}

.container__content__theme__name {
  color: #423299;
  margin: 5px;
}

.container__content__main__left {
  min-width: auto;
}

.container__content__main__left__theme {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
}

.container__content__main__left__lessons {
  background: #FFF;
  height: 70vh;
  min-height: auto;
  overflow-y: scroll;
}

.container__content__main__left__lessons__ul {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  list-style: none;
  font-size: 15px;
  font-weight: bold;
}

.container__content__main__left__lessons__ul__li {
  cursor: pointer;
  margin-bottom: 10px;
}

.container__content__main__left__lessons__ul__li_ref {
  color: #000;
}

.container__content__main__left__lessons__ul__li_ref:hover {
  text-decoration: none;
  color: #D0463C;
}

.container__content__main__center {
  display: flex;
  margin-top: 27px;
}

.container__content__main__center__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container__content__main__center__buttons__button {
  display: flex;
  width: 100%;
  border-style: none;
  outline: none;
  background: transparent;
  align-items: center;
  color: #DC148A;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 30px;
  margin-bottom: 10px;
  text-decoration: none;
}

.container__content__main__center__buttons__button:focus {
  color: #000;
}

.container__content__main__center__buttons__button__img {
  display: flex;
  width: 50px;
  min-width: auto;
}

.container__content__main__center__buttons__button__p {
  display: flex;
  margin: 0;
}

.container__content__main__right {
  margin-top: 27px;
  background: #FFF;
}

.container__content__main__right__option__name {
  margin-left: 25px;
  font-weight: bold;
  color: #DC148A;
}

iframe {
  width: 100%;
  height: 65vh!important;
}